*.zip
*.xcf
*.odt
*.aux
*.dvi
*.log
*.pdf
*.bbl
*.blg
*.out
*.txt
*.toc
*.nav
*.snm
*_.tex
*.org
*.png
!README.org
octave-workspace
*#
/CS485/Research Paper/figs/
RESEARCH
*.djvu
/FA22/PHYS019a/LAB 1/
*.jpg
*.gif
*.jpeg
*.svg
*.sh
*.root
*.ods
*.pptx
*.xlsx
