[submodule "FA23/ADVANCED_EXAM"]
	path = FA23/ADVANCED_EXAM
	url = git@github.com:mcardoff/Cardiff_Advanced_Exam.git
[submodule "FA23/AE_PRESENTATION"]
	path = FA23/AE_PRESENTATION
	url = https://git@git.overleaf.com/659ebde36543d2ccc0aa5917
[submodule "Research/SLAC/weightfield-studies"]
	path = Research/SLAC/weightfield-studies
	url = git@github.com:slaclab/weightfield-studies.git
[submodule "Research/VVH/piecharts"]
	path = Research/VVH/piecharts
	url = git@github.com:mcardoff/piecharts.git
