*.zip
*.xcf
*.odt
*.aux
*.dvi
*.log
*.pdf
*.bbl
*.blg
*.out
*.txt
*.toc
*.nav
*.snm
*_.tex
*.org
!README.org
octave-workspace
*#
/CS485/Research Paper/figs/
RESEARCH
*.djvu
/FA22/PHYS019a/LAB 1/
*.jpg
*.gif
*.jpeg
*.svg
*.sh
*.root
*.ods
*.pptx
*.xlsx
/FA23/PHYS280a/plots/
/FA23/PHYS280a/*.py
/FA23/PHYS280a/ME5_debug
/FA23/PHYS280a/feynrules-current/
/FA23/PHYS280a/madgraph_3_5_1/
/current
/EXTRA/Particle/build/
